.effect {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

dialog {
  width: 400px;
  margin: 10rem auto;

  border: 1px solid #ccc;
  border-radius: 10px;
}
